<!DOCTYPE html>
<html>
<head>
    <title>{title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0 maximum-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{appcss}?v={version}" />
    <script type="module" src="{appjs}?v={version}"></script>
</head>
<body>
    <div id="app-container">
        <div id="app-toolbar"></div>
        <div id="app-header">
            <div id="app-title">
                <img class="app-logo" src="images/comp-logo.png" alt="Company logo" height="60" width="300">
                <img class="app-logo2" src="images/app-logo.png" alt="Application logo" height="60" width="200">
            </div>
        </div>
        <div id="app-main"></div>
    </div>
</body>
</html>