<!DOCTYPE html>
<html>
<head>
<title>{title}</title>
</head>
<body>
<h2>Dear {fullname}!</h2>
<p>&nbsp;</p>
<p>No need to worry! We have received your password recovery request.</p>
<p>You can log in to the system by clicking on the following link:</p>
<p><a href="{link}">{link}</a></p>
<p>&nbsp;</p>
<h4>Good to know:</h4><ul>
<li>You have 48 hours to enter. After that, you need to request a new code.</li>
<li>The link entitles you to a one-time login and you must enter a new password immediately.</li>
<li>After logging in, you can set a new password for yourself at any time.</li>
</ul><p>&nbsp;</p>
<h4>Didn't you request a new password?</h4>
<p>In this case, you can ignore this message.</p>
<p>&nbsp;</p>
<p><b>We wish you all the best!</b></p>
<p><i>Z65 staff</i></p>
</body>
</html>
